/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #000;
    color: #fff;
    padding: 0; /* Remove padding from header */
    height: 113px; /* Set fixed height for header */
    position: relative; /* Set position to relative to contain absolutely positioned children */
}

nav ul {
    list-style: none;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Divide evenly */
    font-weight: bold;
    font-size: larger;
    padding: 0;
    margin: 0;
    width: 100%; /* Ensure it spans the full width */
    height: 100%; /* Ensure it spans the full height */
    position: absolute; /* Position absolutely within the header */
    top: 0;
    left: 0;
}

nav li {
    margin: 0;
    text-align: center; /* Center-align the text */
    display: flex; /* Use flex layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */]
}
nav a {
    text-decoration: none;
    color: #fff;
    display: flex; /* Use flex layout */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    width: 100%; /* Ensure the link spans the full width of the li */
    height: 100%; /* Ensure the link spans the full height of the li */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

nav a:hover {
    background-color: #fff;
    color: #000;
    border: 4px solid #000; /* Add black outline */
}

img {
    max-width: 100%;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.project {
    margin-bottom: 40px;
    border: 6px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-bottom: -30px; /* Use negative margin to further decrease space below the about section */
    margin-top: 30px; /* Increase space above the about section */
}

.about-text {
    max-width: 600px;
}

.about-text h1 {
    font-size: 3em;
    margin-bottom: 0px;
}

.about-text p {
    font-size: 1.2em;
    margin-bottom: 45px;
}

.about-text p .light-text {
    font-weight: 300;
    font-style: italic;
}

.skills-container {
    width: 75%; /* Set the width to 75% of the page */
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center-align the text within the container */
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr; /* Single column */
    grid-template-rows: repeat(4, auto); /* Four rows */
    gap: 20px; /* Add some space between rows */
    border: 2px solid #000; /* Add border */
    border-radius: 15px; /* Rounded edges */
    padding: 20px; /* Add padding inside the grid */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.skill-category {
    text-align: center; /* Center-align the text */
    position: relative; /* Position relative for the divider */
}

.skill-category strong {
    display: block; /* Make the category name a block element */
    font-size: 1.5em; /* Slightly larger text */
    margin-bottom: 10px; /* Add some space below the category name */
}

.skill-category::after {
    content: "";
    display: block;
    width: 75%; /* Set the width of the divider */
    height: 2px; /* Set the height of the divider */
    background-color: #000; /* Set the color of the divider */
    margin: 10px auto; /* Center the divider and add some space above and below */
}

.skill-category:last-child::after {
    display: none; /* Remove the divider for the last skill category */
}

.skill-item {
    display: inline-block; /* Display items inline */
    margin: 10px; /* Add some space between items */
    text-align: center; /* Center-align the text within each item */
}

.skill-item img {
    width: 75px; /* Set a fixed width for the logos */
    height:75px; /* Set a fixed height for the logos */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the image */
}

.skill-item p {
    margin-top: 5px; /* Add some space between the image and the text */
    font-size: 14px; /* Set the font size for the text */
}

.skills-container h2{
    font-size: 2.5em;
    margin-bottom: 20px;
}


/* Media query for mobile devices */
@media (max-width: 768px) {
    .skills-container {
        grid-template-columns: 1fr; /* Single column layout */
        grid-template-rows: auto; /* Adjust rows automatically */
    }

    .skills-container h2 {
        grid-column: span 1; /* Header spans single column */
    }

    .skills {
        height: auto; /* Adjust height for mobile */
        padding: 20px; /* Adjust padding for mobile */
    }

    .container {
        padding: 20px;
    }

    .project {
        padding: 20px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .about-text h1 {
        font-size: 1.5em;
    }

    .about-text p {
        font-size: 1em;
    }
}

.contact {
    margin-bottom: 40px;
    border: 6px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    list-style: none;
    padding: 20px;
}

.contact li {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: -15px;
}

.contact li i {
    margin-right: 10px;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

.inverse-section {
    padding-top: 40px;
    background-color: black;
    color: white;
    padding: 100px 0;
}

.hero--section--title {
    font-size: 2em;
    color: black;
}

.typed-cursor--blink {
    font-weight: 100;
    font-size: 1.25em;
    color: black;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 80px;
    border: 4px solid #000;
    object-fit: cover;
}

.full-screen-section {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px; /* Increase space below the full-screen section */
}

.contact-container {
    display: grid;
    grid-template-columns: 1fr; /* Single column layout */
    gap: 20px;
    text-align: center; /* Center-align the text */
}

.contact-container h2 {
    margin-bottom: 0px; /* Reduce space between h2 and ul */
}

.contact {
    margin-bottom: 40px; /* Increased space between sections */
    border: 6px solid #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure it spans the full width */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        display: flex; /* Switch to flex layout for mobile */
    }

    nav li {
        margin: 10px 0;
    }

    header {
        background-color: #000;
        color: #fff;
        padding: 30px 0;
    }

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .profile-photo {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .skills-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .skills-container h2 {
        grid-column: span 1;
    }

    .skills {
        height: auto;
        padding: 20px;
    }

    .container {
        padding: 20px;
    }

    .project {
        padding: 20px;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    .about-text h1 {
        font-size: 1.5em;
    }

    .about-text p {
        font-size: 1em;
    }
}